/*
  Font Name
*/
  @font-face { font-family:'fontNameRegular'; font-weight: 400; font-style: normal;
    src: url(/a/f/fontName-regular-webfont.eot);
    src: url(/a/f/fontName-regular-webfont?#iefix) format('embedded-opentype'),
    url(/a/f/fontName-regular-webfont.woff) format('woff'),
    url(/a/f/fontName-regular-webfont.ttf) format('truetype'),
    url(/a/f/fontName-regular-webfont) format('svg');
  }