/*
  Form styling
*/
  form {
    border: 0;
  }
    fieldset {
      border: 0;
    }
      legend  {
        border: 0;
      }
      label {
        cursor: pointer;
      }
      input {  }
      input.checkbox {  }
      input.radio {  }
      select.select {  }
      input.text {  }
      textarea.textarea {  }