@mixin createColumns($total: 16) {
  $count: 1;

  @while $count <= $total {
    .col-#{$count}-#{$total} {
      width: 100 / $total * $count * 1%;
    }
    .lt-ie8 .col-#{$count}-#{$total} {
      width: (960 / $total) * $count - 20 * 1px;
      padding: 0 10px;
    }
    $count: $count + 1;
  }
  
}

*, *:after, *:before {
  @include box-sizing(border-box);
}

.lt-ie9 .grid {
  width: 960px;
  max-width: 960px;
}
  
.grid {
  @extend %clearFix;
  margin: 0 auto;
  max-width: $gridMaxWidth;
}

.column {
  float: left;
  @include padding(0, $gridPadding); 
}

@include createColumns($gridColumns);