.modalWindow {
  background: #ffffff;
  
  @include animation(modalWindow, $washFadeSpeed, 0);
  display: none;
  left: 50%;
  margin-left: -400px;
  @include opacity(1);
  visibility: visible;
  width: 800px;
  z-index: 1001;
}

@include fadeOpacity(modalWindow, 0, 1);