/*
  Layout
*/
  /*
    Grid configuration
  */
    $gridColumns: 16;
    $gridPadding: 10;
    $gridMaxWidth: 1200px;
  /*
    Navigation
  */
    $offScreenPercent: 80;
  
/*
  Typography
*/
  /*
    Font
  */
    $alphaFontFamily: 'arial, sans-serif';

  /*
    Size
  */
    $alphaFontSize: 14; /* Primary body text */
    $alphaLineHeight: 21; /* Primary line height of body text */
  
/*
  Colours
*/
  /*
    Base
  */
  $alphaColor: #333;
  $betaColor: #333;
  $gammaColor: #333;

/*
  Widgets
*/
  /*
    Page Wash
  */
    $washBackground: #000000;
    $washOpacity: 0.7;
    $washFadeSpeed: 0.25s;