@import 'main';

body {
  background: #ccc;
}

  .grid {
    background: #fff;
    margin-bottom: 10px;
    margin-bottom: 1rem;
  }
  
  .styleGuidePadding td {
    padding: 5px;
  }
  
  .styleGuideBlock {
    border: 2px solid #ccc;
    @include height(150);
    @include margin(0, 10, 10, 0);
    text-align: center;
    @include width(150);
    
    .styleInfo {
      @include font-size(16);
      display: block;
      @include height(118);
      text-align: center;
    }
    
    .styleName {
      background: #ccc;
      display: block;
      @include line-height(20);
      @include padding(5);
    }
    
  }
  
  .styleFlatList {
    @extend %clearList;
    @extend %flatList;
    padding: 0;
  }
  