@import '_variables';
@import '_mixins';
@import '_placeholders';
@import '_reset';
@import '_grid';
@import '_navigation';

/*
  Plugins
*/
  @import '_modal-window';

/*
  Base
*/
  /*
    Typography
  */
    /*
      Custom fonts
    */
      @import '_fonts-custom';
    /*
      Standard
    */
      blockquote,
      body,
      button,
      fieldset,
      figcaption,
      form,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      input,
      label,
      legend,
      li,
      p,
      q,
      select,
      td,
      textarea,
      th {
        color: $alphaColor;
        font-family: $alphaFontFamily;
        @include font-size($alphaFontSize);
        @include line-height($alphaLineHeight);
        @include margin(0);
        @include padding(0);
      }

      .primaryHeader {
        color: $alphaColor;
      }
      .secondaryHeader {
        color: $alphaColor;
      }
      .tertiaryHeader {
        color: $alphaColor;
      }
      .quarternaryHeader {
        color: $alphaColor;
      }

      p,
      pre,
      blockquote {
        @include margin(0, 0, $alphaFontSize, 0);
        @include padding(0);
      }
      
      figcaption {  }
    
  /*
    Links
  */
    a {
      
      &:active,
      &.active {  }
      
      &:focus,
      &.focus {  }
    
      &:hover,
      &.hover {  }
    
    }

  /*
    Buttons
  */
    .primaryButton { 

      &:active,
      &.active {  }
      
      &:focus,
      &.focus {  }
    
      &:hover,
      &.hover {  }
      
    }
    
    .secondaryButton { 

      &:active,
      &.active {  }
      
      &:focus,
      &.focus {  }
    
      &:hover,
      &.hover {  }
      
    }
        
    .smallButton {  }
    .mediumButton {  }
    .largeButton {  }
  
  /*
    Forms
  */
    @import '_reset-form';
    /*
      Form styling
    */
      form {
        border: 0;
      }
        fieldset {
          border: 0;
        }
          legend  {
            border: 0;
          }
          label {
            cursor: pointer;
          }
          input {  }
          input.checkbox {  }
          input.radio {  }
          select.select {  }
          input.text {  }
          textarea.textarea {  }
          
  /*
    Lists
  */
    dd,
    dl,
    menu,
    ol,
    ul {
      @include margin(0, 0, $alphaFontSize, 0);
      @include padding(0, 0, 0, $alphaFontSize);
    }
      dt,
      li {
        @include margin(0, 0, $alphaFontSize, 0);
        @include padding(0);
      }
        li ul {
          @include padding($alphaFontSize, 0, 0, $alphaFontSize);
        }
  
  /*
    Highlighting
  */
    ::-moz-selection {
      background: #323232;
      color: #ffffff;
      text-shadow: none;
    }
    ::selection {
      background: #323232;
      color: #ffffff;
      text-shadow: none;
    }
    
  /*
    Tools and Common Classes
  */
    hr {
      background: none;
      border: 1px solid #000000;
      border-width: 0 0 1px 0;
      @include box-sizing(content-box);
      height: 1px;      
      @include margin(0, 0, $alphaFontSize);
      padding: 0;
    }
    
    mark {
      background: #ff0;
      color: #000;
    }
    
    .hidden {
      display: none !important;
      visibility: hidden;
    }
    .visuallyHidden {
      border: 0;
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    .visuallyHidden:active,
    .visuallyHidden:focus {
      height: auto;
      margin: 0;
      overflow: visible;
      position: static;
      width: auto;
    }
    .invisible {
      visibility: hidden;
    }

/*
  Layout
*/
  /*
    Core Layout
  */
    /*
      Header
    */
    
    
    /*
      Body
    */
      #pageWrapper {
        overflow: hidden;
        position: relative;
        width: 100%;
      }

        #outerContainer {
          @include backface-visibility(hidden);
          left: 0 !important;
          position: relative;
          @include transitionTransform(500ms, ease);
          @include translate3d(0);
          width: 100%;
        }

    
    /*
      Footer
    */
    
    
    /*
      Page Specific
    */



/*
  Widgets
*/
  /*
    Skip navigation
  */
  .skipNavigation {
    &:active,
    &:focus {
      background: #ffffff;
      border: 1px solid #333333;
      display: block;
      left: 0;
      padding: 10px;
      position: absolute;
      top: 0;
    }
  }

  /*
    Page Wash
  */
    #pageWash {
      background: $washBackground;
      bottom: 0;
      cursor: pointer;
      display: none;
      height: 100%;
      left: 0;
      @include opacity(0);
      position: fixed;
      right: 0;
      top: 0;
      width: 100%;
      z-index: 1000;
      zoom: 1;
      visibility: hidden;
    }
    
    .lt-ie7 #pageWash {
      position: absolute;
    }
    /*
      Page wash active
    */
      
      .pageWashOn #pageWash {
        @include animation(pageWash, $washFadeSpeed, 0);
        display: block;
        visibility: visible;
        @include opacity($washOpacity);
      }

      @include fadeOpacity(pageWash, 0, $washOpacity);
      
      /* Hide the page scrollbar in IE6 (will need to set scroll on lightbox to compensate) */
      .lt-ie7 .pageWashOn {
        overflow: hidden;
      }
