@import '_variables';
@import '_mixins';
@import '_placeholders';
@import '_reset';
@import '_grid';
@import '_navigation';

@import '_buttons';
@import '_form_reset';
@import '_form';
@import '_fonts_custom';
@import '_lists';

/*
  Plugins
*/
  @import '_modal_window';
  @import '_owl';

/*
  Base
*/
  /*
    Typography
  */
    /*
      Custom fonts
    */
    /*
      Standard
    */
      blockquote,
      body,
      button,
      fieldset,
      figcaption,
      form,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      input,
      label,
      legend,
      li,
      p,
      q,
      select,
      td,
      textarea,
      th {
        color: $alphaColor;
        font-family: $alphaFontFamily;
        @include font-size($alphaFontSize);
        @include line-height($alphaLineHeight);
        @include margin();
        @include padding();
      }

      .primaryHeader {
        color: $alphaColor;
      }
      .secondaryHeader {
        color: $alphaColor;
      }
      .tertiaryHeader {
        color: $alphaColor;
      }
      .quarternaryHeader {
        color: $alphaColor;
      }

      p,
      pre,
      blockquote {
        @include margin(0, 0, $alphaFontSize, 0);
        @include padding();
      }
      
      figcaption {  }
    
  /*
    Links
  */
    a {
      
      &:active,
      &.active {  }
      
      &:focus,
      &.focus {  }
    
      &:hover,
      &.hover {  }
    
    }
  
  /*
    Highlighting
  */
    ::-webkit-selection {
      background: #323232;
      color: #fff;
      text-shadow: none;
    }
    ::-moz-selection {
      background: #323232;
      color: #fff;
      text-shadow: none;
    }
    ::selection {
      background: #323232;
      color: #fff;
      text-shadow: none;
    }
    
  /*
    Tools and Common Classes
  */
    hr {
      background: none;
      border: 1px solid #000;
      border-width: 0 0 1px 0;
      @include box-sizing(content-box);
      height: 1px;      
      @include margin(0, 0, $alphaFontSize);
      padding: 0;
    }
    
    mark {
      background: #ff0;
      color: #000;
    }
    
    .hidden {
      display: none !important;
      visibility: hidden;
    }
    .visuallyHidden {
      border: 0;
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    .visuallyHidden:active,
    .visuallyHidden:focus {
      height: auto;
      margin: 0;
      overflow: visible;
      position: static;
      width: auto;
    }
    .invisible {
      visibility: hidden;
    }

/*
  Layout
*/
  /*
    Core Layout
  */
    /*
      Header
    */
    
    
    /*
      Body
    */
      #pageWrapper {
        overflow: hidden;
        position: relative;
        width: 100%;
      }

        #outerContainer {
          @include backface-visibility(hidden);
          left: 0 !important;
          position: relative;
          @include transitionTransform(500ms, ease);
          @include translate3d(0);
          width: 100%;
        }

    
    /*
      Footer
    */
    
    
    /*
      Page Specific
    */



/*
  Widgets
*/
  /*
    Skip navigation
  */
  .skipNavigation {
    &:active,
    &:focus {
      background: #fff;
      border: 1px solid #333;
      display: block;
      left: 0;
      @include padding(10);
      position: absolute;
      top: 0;
    }
  }

  /*
    Page Wash
  */
  
    .pageWashOn {
      height: 100%;    
      margin: 0;
      overflow: hidden;
      padding: 0;
      width: 100%;
    }
    
    #pageWash {
      background: $washBackground;
      bottom: 0;
      display: none;
      height: 100%;
      left: 0;
      @include opacity(0);
      overflow-y: auto;
      position: fixed;
      right: 0;
      top: 0;
      width: 100%;
      z-index: 1000;
      zoom: 1;
      visibility: hidden;
    }
    
    .lt-ie10 #pageWash {
      overflow: hidden;
      position: absolute;
      background: 0 0 repeat url(../i/plugins/wash.png);
    }
    /*
      Page wash active
    */
    
      .pageWashOn #pageWash {
        @include animation(pageWash, $washFadeSpeed, 0);
        display: block;
        visibility: visible;
        @include opacity(1);
      }

      @include fadeOpacity(pageWash, 0, 1);
    
    .lt-ie10 .pageWashOn {
      overflow-y: auto;
    }
     
    /* Hide the page scrollbar in IE6 (will need to set scroll on lightbox to compensate) */
    .lt-ie7 .pageWashOn {
      overflow: hidden;
    }
    
  /*
    Videos (YouTube)
  */
    .videoContainer {
      height: 0; 
      overflow: hidden;
      padding-bottom: 56.25%;
      padding-top: 30px;
      position: relative;
    }
     
    .videoContainer iframe,
    .videoContainer object,
    .videoContainer embed {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }