/* line 1, ../../s/internal-style-guide.scss */
body {
  background: #cccccc;
}

/* line 5, ../../s/internal-style-guide.scss */
.grid {
  background: #ffffff;
  border-radius: 10px;
  margin: 10px auto;
  margin: 1rem auto;
  padding: 10px 0;
  padding: 1rem 0;
}
